.mainPostDiv{
    width: 949px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    background-color: #7B7B7B;
    border-radius: 20px;
}

.mainPostDiv img{
    width: 390px;
    height: 307px;
    border-radius: 20px;
}

.postAllData{
    width: 503px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.textData{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textData h2{
    font-size: 28px;
}

.textData p{
    width: 511px;
    height: 201px;
    font-size: 20px;
}

.addPostData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 503px;
    flex-direction: row;
}

.tagsBlock{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 400px;
}

.tag{
    text-align: center;
    background-color: #939393;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

.likeBlock{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 5px;
}

.likeBlock p{
    font-size: 20px;
}

.likeBlock img{
    width: 30px;
    height: 30px;
    border-radius: 0px;
}