
footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0px 400px;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    position: absolute;
    height: 40px;
    bottom: 0;
}

footer p{
    color: #959595;
    font-size: 16px;
}

.clickableFooterLink:hover{
    filter: brightness(120%);
    cursor: pointer;
}