main{
    overflow: hidden;
}

.postList{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.postList::-webkit-scrollbar{
    opacity: 0;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    width: 777px;
    background-color: #4B4B4B;
    border: 1px solid #AAAAAA;
    justify-content: space-between;
}

.searchBar p{
    opacity: 50%;
    font-size: 24px;
}

.searchBar img{
    width: 21px;
    height: 21px;
}

/* Filters */

.postListBg{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.filters{
    display: flex;
    height: 100%;
    padding-top: 100px;
    padding-left: 50px;
    flex-direction: column;
    align-items: start;
}

.filters, .filterHelper{
    width: 20%;
}

.filters h3{
    font-size: 34px;
    font-weight: 300;
}

.subFilterList{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
}

.subFilterList h4{
    font-size: 28px;
    font-weight: 300;
}

.filterOptions{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    gap: 5px;
}

.filter{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.filter p{
    font-size: 22px;
    font-weight: 300;
}

.filter input{
    accent-color: #9c9c9c;
    width: 16px;
    height: 16px;
}